<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="header-top">
        <div class="mdl-layout__header-row">
        </div>
        <div class="mdl-layout__header-row">
            <h3>JDN | AWD Reflection</h3>
        </div>
        <div class="mdl-layout__header-row">
        </div>
    </div>
    <md-content class="mdl-color--secondary">
        <md-nav-bar md-selected-nav-item="currentPage" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/" name="goals">Goals</md-nav-item>
            <md-nav-item md-nav-href="/rss" name="rss">Articles</md-nav-item>
            <md-nav-item md-nav-href="/about" name="about">About</md-nav-item>
        </md-nav-bar>
    </md-content>
</header>
