<navbar page="'rss'"></navbar>
<ul class="unstyled" style="padding: 35px">
    <button class="fa fa-random btn btn-success shuffle" ng-click="update_rss()">Shuffle</button>
    <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
    <li class="search-result" ng-repeat="feed in feeds track by $index" ng-class="{'dark-result': $index % 2 == 0, 'light-result': $index % 2 == 1}">
        <h5><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h5>
        <a target="_blank" class="small-text" href="{{feed.link}}">{{feed.link}}</a>
        <p ng-bind-html="feed.summary"></p>
        <span class="small">{{feed.published}}</span>
    </li>
</ul>